How to read different kinds of file types

In [5]:
import pandas as pd

candybars = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/MCL-DSCI-511-programming-in-python/master/data/candybars.csv')
candybars.head()

,name,weight,chocolate,peanuts,caramel,nougat,cookie_wafer_rice,coconut,white_chocolate,multi,available_canada_america
0,Coffee Crisp,50,1,0,0,0,1,0,0,0,Canada
1,Butterfinger,184,1,1,1,0,0,0,0,0,America
2,Skor,39,1,0,1,0,0,0,0,0,Both
3,Smarties,45,1,0,0,0,0,0,0,1,Canada
4,Twix,58,1,0,1,0,1,0,0,1,Both

You can import from a https.

I don't like this since the location of the file or the link could break.

Txt files need to have the delimiter defined.

candybars = pd.read_csv('candybars-text.txt')
candybars.head()

candybars = pd.read_csv('candybars-text.txt', delimiter='\t')
candybars.head()

Excel Sheets need to have the sheet name defined.

candybars = pd.read_excel('foods.xlsx', sheet_name='chocolate')
candybars

In [6]:
pokemon_df = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/MCL-DSCI-511-programming-in-python/master/data/pokemon.csv')
pokemon_df

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,797,101,103,107,101,61,25,570,steel,7,1
797,Kartana,798,181,131,59,31,109,255,570,grass,7,1
798,Guzzlord,799,101,53,97,53,43,15,570,dark,7,1
799,Necrozma,800,107,101,127,89,79,3,600,psychic,7,1
800,Magearna,801,95,115,130,115,65,3,600,steel,7,1

In [13]:
pokemon_df2 = pd.read_csv('data/pokemon-text.txt', delimiter=';')
pokemon_df2

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,797,101,103,107,101,61,25,570,steel,7,1
797,Kartana,798,181,131,59,31,109,255,570,grass,7,1
798,Guzzlord,799,101,53,97,53,43,15,570,dark,7,1
799,Necrozma,800,107,101,127,89,79,3,600,psychic,7,1
800,Magearna,801,95,115,130,115,65,3,600,steel,7,1

In [17]:
pokemon_df3 = pd.read_excel('data/pokemon.xlsx', sheet_name='pokemon')
pokemon_df3

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,797,101,103,107,101,61,25,570,steel,7,1
797,Kartana,798,181,131,59,31,109,255,570,grass,7,1
798,Guzzlord,799,101,53,97,53,43,15,570,dark,7,1
799,Necrozma,800,107,101,127,89,79,3,600,psychic,7,1
800,Magearna,801,95,115,130,115,65,3,600,steel,7,1

arguments for pd.read.

index_col
header
nrows
usecols

index_col is an argument that indicates which column will be acting as the index label.

df = pd.read_csv('cereal.csv', index_col="name")
df.head()

When the table doesn't populate properlly because of the header:

candybars = pd.read_csv('candybars-h.csv', header=2)
candybars

If you only want to load a ceratin set of rows, you can use nrows=number to limit the number of rows that populate


candybars = pd.read_csv('candybars.csv', nrows=7)
candybars

If you only want certain columns use nrows.

you can either use index position or label names. 

candybars = pd.read_csv('candybars.csv', usecols=[0, 1, 10])
candybars


candybars = pd.read_csv('candybars.csv', usecols=['name', 'weight', 'available_canada_america'])
candybars

In [19]:
pokemon_sample = pd.read_csv ('data/pokemon.csv', nrows=151, usecols=['name', 'total_bs', 'type'] )
pokemon_sample

           name  total_bs     type
0     Bulbasaur       318    grass
1       Ivysaur       405    grass
2      Venusaur       625    grass
3    Charmander       309     fire
4    Charmeleon       405     fire
..          ...       ...      ...
146     Dratini       300   dragon
147   Dragonair       420   dragon
148   Dragonite       600   dragon
149      Mewtwo       780  psychic
150         Mew       600  psychic

[151 rows x 3 columns]

renaming columns

candy = candy.rename(columns={'available_canada_america':'availability',
                        'weight':'weight_g'})

dropping columns

candy = candy.drop(columns=['nougat', 'coconut'])
candy.head()

- you need to save new data frame for the changes to save.

In [27]:
pokemon_og = pd.read_csv('data/pokemon.csv', nrows=151)
pokemon_og

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
146,Dratini,147,64,45,50,50,50,45,300,dragon,1,0
147,Dragonair,148,84,65,70,70,70,45,420,dragon,1,0
148,Dragonite,149,134,95,100,100,80,45,600,dragon,1,0
149,Mewtwo,150,150,70,194,120,140,3,780,psychic,1,1
150,Mew,151,100,100,100,100,100,45,600,psychic,1,1

In [33]:
pokemon_og_special_only = pd.read_csv('data/pokemon.csv', nrows=151, usecols=['name', 'sp_attack', 'sp_defense'] )

pokemon_og_special_rename = pokemon_og_special_only.rename(columns= 
{'sp_attack':'special_attack', 'sp_defense':'special_defense'})
pokemon_og_special_rename

           name  special_attack  special_defense
0     Bulbasaur              65               65
1       Ivysaur              80               80
2      Venusaur             122              120
3    Charmander              60               50
4    Charmeleon              80               65
..          ...             ...              ...
146     Dratini              50               50
147   Dragonair              70               70
148   Dragonite             100              100
149      Mewtwo             194              120
150         Mew             100              100

[151 rows x 3 columns]

In [42]:
import altair as alt

chart = alt.Chart(pokemon_og_special_rename).mark_bar().encode(
    x='name',
    y='special_attack'
)
chart

alt.Chart(...)

Next section is Column Arithmetic and Creation.