How to read different kinds of file types

In [2]:
import pandas as pd

candybars = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/MCL-DSCI-511-programming-in-python/master/data/candybars.csv')
candybars.head()

,name,weight,chocolate,peanuts,caramel,nougat,cookie_wafer_rice,coconut,white_chocolate,multi,available_canada_america
0,Coffee Crisp,50,1,0,0,0,1,0,0,0,Canada
1,Butterfinger,184,1,1,1,0,0,0,0,0,America
2,Skor,39,1,0,1,0,0,0,0,0,Both
3,Smarties,45,1,0,0,0,0,0,0,1,Canada
4,Twix,58,1,0,1,0,1,0,0,1,Both

You can import from a https.

I don't like this since the location of the file or the link could break.

Txt files need to have the delimiter defined.

candybars = pd.read_csv('candybars-text.txt')
candybars.head()

candybars = pd.read_csv('candybars-text.txt', delimiter='\t')
candybars.head()

Excel Sheets need to have the sheet name defined.

candybars = pd.read_excel('foods.xlsx', sheet_name='chocolate')
candybars

In [6]:
pokemon_df = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/MCL-DSCI-511-programming-in-python/master/data/pokemon.csv')
pokemon_df

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,797,101,103,107,101,61,25,570,steel,7,1
797,Kartana,798,181,131,59,31,109,255,570,grass,7,1
798,Guzzlord,799,101,53,97,53,43,15,570,dark,7,1
799,Necrozma,800,107,101,127,89,79,3,600,psychic,7,1
800,Magearna,801,95,115,130,115,65,3,600,steel,7,1

In [13]:
pokemon_df2 = pd.read_csv('data/pokemon-text.txt', delimiter=';')
pokemon_df2

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,797,101,103,107,101,61,25,570,steel,7,1
797,Kartana,798,181,131,59,31,109,255,570,grass,7,1
798,Guzzlord,799,101,53,97,53,43,15,570,dark,7,1
799,Necrozma,800,107,101,127,89,79,3,600,psychic,7,1
800,Magearna,801,95,115,130,115,65,3,600,steel,7,1

In [17]:
pokemon_df3 = pd.read_excel('data/pokemon.xlsx', sheet_name='pokemon')
pokemon_df3

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
796,Celesteela,797,101,103,107,101,61,25,570,steel,7,1
797,Kartana,798,181,131,59,31,109,255,570,grass,7,1
798,Guzzlord,799,101,53,97,53,43,15,570,dark,7,1
799,Necrozma,800,107,101,127,89,79,3,600,psychic,7,1
800,Magearna,801,95,115,130,115,65,3,600,steel,7,1

arguments for pd.read.

index_col
header
nrows
usecols

index_col is an argument that indicates which column will be acting as the index label.

df = pd.read_csv('cereal.csv', index_col="name")
df.head()

When the table doesn't populate properlly because of the header:

candybars = pd.read_csv('candybars-h.csv', header=2)
candybars

If you only want to load a ceratin set of rows, you can use nrows=number to limit the number of rows that populate


candybars = pd.read_csv('candybars.csv', nrows=7)
candybars

If you only want certain columns use nrows.

you can either use index position or label names. 

candybars = pd.read_csv('candybars.csv', usecols=[0, 1, 10])
candybars


candybars = pd.read_csv('candybars.csv', usecols=['name', 'weight', 'available_canada_america'])
candybars

In [19]:
pokemon_sample = pd.read_csv ('data/pokemon.csv', nrows=151, usecols=['name', 'total_bs', 'type'] )
pokemon_sample

           name  total_bs     type
0     Bulbasaur       318    grass
1       Ivysaur       405    grass
2      Venusaur       625    grass
3    Charmander       309     fire
4    Charmeleon       405     fire
..          ...       ...      ...
146     Dratini       300   dragon
147   Dragonair       420   dragon
148   Dragonite       600   dragon
149      Mewtwo       780  psychic
150         Mew       600  psychic

[151 rows x 3 columns]

renaming columns

candy = candy.rename(columns={'available_canada_america':'availability',
                        'weight':'weight_g'})

dropping columns

candy = candy.drop(columns=['nougat', 'coconut'])
candy.head()

- you need to save new data frame for the changes to save.

In [27]:
pokemon_og = pd.read_csv('data/pokemon.csv', nrows=151)
pokemon_og

,name,deck_no,attack,defense,sp_attack,sp_defense,speed,capture_rt,total_bs,type,gen,legendary
0,Bulbasaur,1,49,49,65,65,45,45,318,grass,1,0
1,Ivysaur,2,62,63,80,80,60,45,405,grass,1,0
2,Venusaur,3,100,123,122,120,80,45,625,grass,1,0
3,Charmander,4,52,43,60,50,65,45,309,fire,1,0
4,Charmeleon,5,64,58,80,65,80,45,405,fire,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
146,Dratini,147,64,45,50,50,50,45,300,dragon,1,0
147,Dragonair,148,84,65,70,70,70,45,420,dragon,1,0
148,Dragonite,149,134,95,100,100,80,45,600,dragon,1,0
149,Mewtwo,150,150,70,194,120,140,3,780,psychic,1,1
150,Mew,151,100,100,100,100,100,45,600,psychic,1,1

In [33]:
pokemon_og_special_only = pd.read_csv('data/pokemon.csv', nrows=151, usecols=['name', 'sp_attack', 'sp_defense'] )

pokemon_og_special_rename = pokemon_og_special_only.rename(columns= 
{'sp_attack':'special_attack', 'sp_defense':'special_defense'})
pokemon_og_special_rename

           name  special_attack  special_defense
0     Bulbasaur              65               65
1       Ivysaur              80               80
2      Venusaur             122              120
3    Charmander              60               50
4    Charmeleon              80               65
..          ...             ...              ...
146     Dratini              50               50
147   Dragonair              70               70
148   Dragonite             100              100
149      Mewtwo             194              120
150         Mew             100              100

[151 rows x 3 columns]

In [42]:
import altair as alt

chart = alt.Chart(pokemon_og_special_rename).mark_bar().encode(
    x='name',
    y='special_attack'
)
chart

alt.Chart(...)

Next section is Column Arithmetic and Creation.

In [3]:
cereal = pd.read_csv('data/cereal.csv')
cereal.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843

In [4]:
cereal= cereal.iloc[:5]
cereal

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843

In [5]:
cereal['fat']

0    1
1    5
2    1
3    0
4    2
Name: fat, dtype: int64

In [6]:
cereal['fat'] * 1000

0    1000
1    5000
2    1000
3       0
4    2000
Name: fat, dtype: int64

In [7]:
cereal['rating']/10

0    6.840297
1    3.398368
2    5.942551
3    9.370491
4    3.438484
Name: rating, dtype: float64

In [9]:
cereal['sugars'] / cereal['cups']

0    18.181818
1     8.000000
2    15.151515
3     0.000000
4    10.666667
dtype: float64

In [10]:
oz_to_g = 28.3495
cereal['weight'] * oz_to_g

0    28.3495
1    28.3495
2    28.3495
3    28.3495
4    28.3495
Name: weight, dtype: float64

In [11]:
cereal = cereal.assign(weight_g=cereal['weight'] * oz_to_g)
cereal.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,weight_g
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,28.3495
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,28.3495
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,28.3495
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,28.3495
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843,28.3495

In [16]:
cereal = pd.read_csv('data/cereal.csv')
cereal = cereal.iloc[:75]

cereal[cereal['protein'] > 4]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
11,Cheerios,G,Cold,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
57,Quaker Oatmeal,Q,Hot,100,5,2,0,2.7,1.0,1,110,0,1,1.0,0.67,50.828392
67,Special K,K,Cold,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324

In [17]:
cereal[cereal['protein'] == 4]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
41,Life,Q,Cold,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
43,Maypo,A,Hot,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
44,Muesli Raisins; Dates; & Almonds,R,Cold,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,Cold,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
56,Quaker Oat Squares,Q,Cold,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874

In [18]:
cereal[cereal['protein'] >= 4]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
11,Cheerios,G,Cold,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
41,Life,Q,Cold,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
43,Maypo,A,Hot,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
44,Muesli Raisins; Dates; & Almonds,R,Cold,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,Cold,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
56,Quaker Oat Squares,Q,Cold,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
57,Quaker Oatmeal,Q,Hot,100,5,2,0,2.7,1.0,1,110,0,1,1.0,0.67,50.828392
67,Special K,K,Cold,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324

In [19]:
cereal[cereal['protein'] <= 5]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Total Raisin Bran,G,Cold,140,3,1,190,4.0,15.0,14,230,100,3,1.5,1.00,28.592785
71,Total Whole Grain,G,Cold,100,3,1,200,3.0,16.0,3,110,100,3,1.0,1.00,46.658844
72,Triples,G,Cold,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,Cold,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,Cold,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445

In [20]:
cereal[(cereal['protein'] >= 4) & (cereal['protein'] <= 5)]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
41,Life,Q,Cold,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
43,Maypo,A,Hot,100,4,1,0,0.0,16.0,3,95,25,2,1.0,1.00,54.850917
44,Muesli Raisins; Dates; & Almonds,R,Cold,150,4,3,95,3.0,16.0,11,170,25,3,1.0,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,Cold,150,4,3,150,3.0,16.0,11,170,25,3,1.0,1.00,34.139765
56,Quaker Oat Squares,Q,Cold,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
57,Quaker Oatmeal,Q,Hot,100,5,2,0,2.7,1.0,1,110,0,1,1.0,0.67,50.828392

In [21]:
cereal[(cereal['mfr'] == 'Q') | (cereal['protein'] > 4)]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
10,Cap'n'Crunch,Q,Cold,120,1,2,220,0.0,12.0,12,35,25,2,1.0,0.75,18.042851
11,Cheerios,G,Cold,110,6,2,290,2.0,17.0,1,105,25,1,1.0,1.25,50.764999
35,Honey Graham Ohs,Q,Cold,120,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
41,Life,Q,Cold,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
54,Puffed Rice,Q,Cold,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.00,60.756112
55,Puffed Wheat,Q,Cold,50,2,0,0,1.0,10.0,0,50,0,3,0.5,1.00,63.005645
56,Quaker Oat Squares,Q,Cold,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
57,Quaker Oatmeal,Q,Hot,100,5,2,0,2.7,1.0,1,110,0,1,1.0,0.67,50.828392
67,Special K,K,Cold,110,6,0,230,1.0,16.0,3,55,25,1,1.0,1.00,53.131324

In [22]:
(~(cereal['protein'] > 4)).head()

0    True
1    True
2    True
3    True
4    True
Name: protein, dtype: bool

Tilde converts all the True values to False and all the False values, to True. 
Tilde (~) gives us the ability to return the complement of the code following it.

In [25]:
q_cereal = cereal[cereal['mfr'] == 'Q']
q_cereal.assign(mfr = 'Quaker')

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Quaker,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
10,Cap'n'Crunch,Quaker,Cold,120,1,2,220,0.0,12.0,12,35,25,2,1.0,0.75,18.042851
35,Honey Graham Ohs,Quaker,Cold,120,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
41,Life,Quaker,Cold,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
54,Puffed Rice,Quaker,Cold,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.00,60.756112
55,Puffed Wheat,Quaker,Cold,50,2,0,0,1.0,10.0,0,50,0,3,0.5,1.00,63.005645
56,Quaker Oat Squares,Quaker,Cold,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
57,Quaker Oatmeal,Quaker,Hot,100,5,2,0,2.7,1.0,1,110,0,1,1.0,0.67,50.828392

In [26]:
cereal.loc[cereal['mfr'] == 'Q']

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
1,100% Natural Bran,Q,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
10,Cap'n'Crunch,Q,Cold,120,1,2,220,0.0,12.0,12,35,25,2,1.0,0.75,18.042851
35,Honey Graham Ohs,Q,Cold,120,1,2,220,1.0,12.0,11,45,25,2,1.0,1.00,21.871292
41,Life,Q,Cold,100,4,2,150,2.0,12.0,6,95,25,2,1.0,0.67,45.328074
54,Puffed Rice,Q,Cold,50,1,0,0,0.0,13.0,0,15,0,3,0.5,1.00,60.756112
55,Puffed Wheat,Q,Cold,50,2,0,0,1.0,10.0,0,50,0,3,0.5,1.00,63.005645
56,Quaker Oat Squares,Q,Cold,100,4,1,135,2.0,14.0,6,110,25,3,1.0,0.50,49.511874
57,Quaker Oatmeal,Q,Hot,100,5,2,0,2.7,1.0,1,110,0,1,1.0,0.67,50.828392

In [27]:
cereal.loc[cereal['mfr'] == 'Q', 'mfr'] = 'Quaker'

In [28]:
cereal

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,Cold,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Quaker,Cold,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,Cold,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,Cold,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,Cold,110,2,2,200,1.0,14.0,8,1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Total Raisin Bran,G,Cold,140,3,1,190,4.0,15.0,14,230,100,3,1.5,1.00,28.592785
71,Total Whole Grain,G,Cold,100,3,1,200,3.0,16.0,3,110,100,3,1.0,1.00,46.658844
72,Triples,G,Cold,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,Cold,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,Cold,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445

Stopped at Chaining

In [ ]:
cereal_mean = cereal[cereal['mfr'] == 'K'].loc[:, ["calories", "sugars", "rating"]].mean()
cereal_mean

In [ ]:
mfr_group.agg({"calories":['max', 'min'],
               "rating":['sum'],  
               "sugars":['mean', 'median']})