In [8]:
import pandas as pd
marathon = pd.read_csv('/home/alysha/repos/Python_Practice/marathon_small.csv')
marathon

,age,bmi,km5_time_seconds,km10_time_seconds,km10_time_minutes,sex
0,16.0,18.330755,945.0,2040.0,34.000000,male
1,16.0,19.135529,1110.0,2365.0,39.416667,male
2,16.0,19.476656,985.0,2055.0,34.250000,male
3,16.0,18.330755,1146.0,NaN,NaN,male
4,16.0,22.263451,NaN,2459.0,40.983333,male
...,...,...,...,...,...,...
1828,60.0,19.531250,1665.0,3550.0,59.166667,female
1829,62.0,27.363125,1956.0,4014.0,66.900000,female
1830,62.0,24.431360,2280.0,NaN,NaN,female
1831,63.0,21.036816,NaN,4140.0,69.000000,female
1832,67.0,23.218958,1262.0,NaN,NaN,female

Hurrah!

In [9]:
marathon.shape

(1833, 6)